*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}
nav{
    display: flex;
    background-color: #090303;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    color: #ffffff;
}
nav ul {
    justify-content: center;
    display: flex;
}
nav ul li {
    margin: 0 15px;
    list-style: none;

}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav ul li a:hover {
    color: #aea652;
}
nav .logo {
    font-size: 24px;
    font-weight: bold;
}
nav .logo a {
    color: #ffffff;
    text-decoration: none;
}
.about {
    padding: 100px 20px;
    text-align: center;
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255)
}
.about h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
/* About section styles */
.hero-right{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}
.hero-right img {
    width: 350px;
    height: auto;
    justify-content: left;
    display: flex;
    border-radius: 100%;
}




